*{
    margin: 0;
}
.columns{
        display: flex;
        justify-content: center;
        gap:5px;
        margin-bottom:30px;
}


.column{
       width: 350px;
       margin: 10px 30px;
       font-size: 20px;
       background-color:#44666e;
       border-radius: 20px; 
       padding: 10px;
}

#mybody{
     width: auto;
     height: auto;
     margin: 0;
     text-align: center;
     background:#ffff;

}

.subcol{
     text-align: center;
     margin:auto;
}



main{
     background-color: #2f464c;
     color:white;
}

#image{
      max-width: 100%;

}

#myh2{
 text-align: center;
 font-size: 40px;
}

#myh4{
 
 font-size: 40px;
}

#myh1{
 font-size: 40px;
 padding-top:50px;
}

.myp{
 font-size: 25px;
 margin: 5%;
 background-color: #44666e;
 border-radius: 20px;
 padding:2%;
}



#peng_footer{

    text-align: center;
    margin: 10px;


}

#way-header{
    text-align: left;
}
#way-h1{
    margin-bottom: 0px;
}
#way-h2{
    font-size: 30px;
    text-align: center;
    margin: 20px auto;
}
#way-h4{
    text-align:left;
    margin: 0 auto;
}
.subtitle{
    text-align: center; 
    margin-top: 0;
    margin-bottom: 0;
    font-size: 25px;
}
.icon{
    width: 50px; 
    height: 50px; 
    display: block; 
    margin: 0 auto;
}
.donation{
    display:flex; 
    flex-direction: column;
}
.donations{
    display: grid;
    grid-template: 40px 40px/ 150px 150px 150px;
    gap: 10px;
    margin: 10px auto;
    margin-bottom: 15px;
}
.donate-btn{
    margin-top: 0;
    margin-bottom: 20px;
    width: 150px;
    padding: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 5px;
    background-color: #04c88f ;
    color: white;
    font-size: 15px;
}
.donate-btn:hover{
    background-color: #2f464c;
}
.desc{
    margin-top: auto;
    text-align: center;
}
.back-btn{
    width: 100px; 
    margin-right: 15px;
    text-align: right; 
    padding: 10px;
    font-size: 20px;
}

            /* #354b51 
            #314951
            #153945
            #314951
            */
.nav{ 
    background-color: #2f464c;
    opacity: 0.95;
    display:flex; 
    justify-content: right;
    margin-top: 10px;
    padding-bottom:30px;
}
textarea{
    display: block;
    resize: none;
    margin:10px auto;
    width: 400px;
    height: 150px;
}
.contact{
    margin-top: 0px;
    margin-bottom: 0;
    text-align: center;
}
            /* #b0b2b6 */
.ways{
    color:black;
    background-color: #e9eef1;
    opacity: 0.95;
    margin: 50px auto;
    padding: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.other-way-help{
    display: relative;
    width: 600px;
    height: 150px;
}
.way-desc{
    font-size: 18px;
    margin:10px auto;
    text-align: center;
    width: 300px;
}
            /* #e9eef1 */
.price-btn{
    background-color: #d0d8dd;
    border-radius: 5px;
    border: none;
}
.price-btn:hover{
    cursor: pointer;
}
.price-btn:focus {     
    background-color:#04c88f;    
}

.payments{
    margin: 10px auto;
    display: flex;
    gap: 50px;
    margin-top: 0;
}
.payment-btn{
    display: flex;
    justify-content: center;
    gap: 10px;
    border: none;
    margin: 20px auto;
    padding: 2px 50px;
    margin-bottom: 10px;
    width: 150px;
    border-radius: 10px;
    background-color:white;
    border: dotted #2f464c 1px;
    margin-top: 10px;
}
            /* #ffc43b 
                #0059d2
                #038cff
            */
.payment-btn:hover{
    cursor: pointer;
 }
 .payment-img{
    width: 30px;
    height: 30px;
}          
.footer{
    margin-top: 0px;
    text-align: center;
}
.home-links, .links{
    text-decoration: none;
}
.home-links:link, .home-links:visited {
    color: white;
}
.home-links:hover {
    color: #00c98e;
}
.links:link, .links:visited{
    background-color: #4b7b86;
    border: #d0d8dd 1px solid;
    padding: 0 2px;
    border-radius: 15px ;
    font-size: 20px;
    font-weight: bolder;
    color: white;
}
.way-main{
    background-color: white;
    color: black;
    text-align: center;
    height: auto;
}
.ramon_body{
    background-color:#2f464c;
    color:white;
    text-align: center;
}

.ramon_a{
    margin:14px;
    font-weight:bold;
    font-size:30px;
    text-decoration:none;color:white;
    padding:12px;background-color:#2f464c;
    border-radius: 15px;
    width: 250px;
}
        
.ramon_a:visited{
    color: white;
}
.ramon_a:hover{
    color:#00c98e
}

.ramon_nav {
    border-radius: 20px;
    font-size: 20px;
    display: flex;
    background-color: #44666e;
    justify-content: space-between;
    width:800px;
    margin: auto;
    margin-bottom: 40px;
}
.ramon_nav_index {
    border-radius: 20px;
    font-size: 20px;
    display: flex;
    background-color: #44666e;
    justify-content: space-between;
    width:720px;
    margin: auto;
    margin-bottom: 40px;
}
        
#ul_ramon{
    width: 800px;
    height:620px;
    margin:auto;
    list-style-position: inside;
    background-color:#3c5a61;
    border-radius: 40px;
    padding:15px 0px;
}
.ramon_li {

    font-size: 26px;
    width: 550px;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 30px;
    list-style: none;
}
.ramon_li::before {
    content: "✱ "; 
    color: #00c98e
}
        
.top{
    padding-bottom:90px;
}
        
.bottom{
    margin-bottom:90px;
}

.testimonial {
    padding: 15px 30px;
    text-align: center;
    width: 300px;
    height: 340px;
    margin: auto;
    background-color: #44666e;
    border-radius: 30px;
}
.testimonialtext {
    font-size: 20px;
    font-style: italic;
    margin-bottom: 40px;
}
.testimonials{
    display:flex;
    justify-content: center;
}
.ramon_h1 {
    padding: 20px;
    border-radius: 30px;
    font-size: 60px;
    background-color: #00c98e;
    color: white;
    width:500px;
    margin: auto;
    margin-bottom: 50px;
    margin-top:50px;
}
.ramon_h2 {
    padding: 8px;
    border-radius: 30px;
    font-size: 45px;
    background-color: #00c98e;
    color: white;
    width:550px;
    margin: auto;
    margin-bottom: 50px;
}
.ramon_h3{
         font-size:26px;
         text-align:right
}
.ramon_p{
        font-size:30px;
        margin-bottom:50px;
}
.ramon_footer{
        margin-top:6px;
        text-align: center;
}
